<!DOCTYPE html>
<html> <!-- I used bootstrap -->
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> <!--bootstrap css-->
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/> <!--font awesome icons-->
  <link rel='stylesheet' href='/Content/app.css' /> <!--custom css file-->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script> <!--bootstrap scripts-->
  <script src="/Script/app.js"></script> <!--custom scripts (unused)-->

</head>
<body style="min-height: 100vh; min-width: 100vh;"> <!--body tag :) -->